{% extends 'base.html.twig' %}

{% block title %}New Template{% endblock %}

{% block body %}
    <div class="col-12 col-sm-10 mx-auto my-5">
        <h1>Create new Template</h1>

        {{ include('template/_form.html.twig') }}

        <a href="{{ path('app_template_index') }}">back to list</a>
    </a>
{% endblock %}
